{% extends 'layouts/base.html' %}

{% block title %}
Página não Encontrada!
{% endblock %}


{% block content %}
<div class="container">
    <div class="row d-flex flex-column mx-4 my-5 justify-content-center align-items-center">
      <img src="/static/images/not_found.svg" alt="Figura de Arquivo Triste" style="height: 14rem">
      <h1 class="mb-2">Página Não Encontrada!</h1>
      <p>Lamentamos que você esteja aqui. Caso encontre algum problema, por favor, relate-o para que possamos resolvê-lo.</p>
    </div>

{% endblock %}
